% rebase("base.html")
<p>POZOR: Zaradi uporabe knjižnice yfinance nekatere funkcije ne bodo delovale za vse valute.
    Podprte valute najdete na <a href="https://finance.yahoo.com/currencies" target="_blank">Yahoo!Finance</a>.</p>
<form method="POST" class="row g-2">
    <label class="label">Kratice vnašajte v obliki ABC/DEF:</label>
    <div class="col-auto">
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-currency-dollar"></i>
            </span>
            <input class="form-control" name="kratica" type="text" placeholder="Kratica"
                value="{{polja.get('kratica')}}" autocapitalize="characters" autofocus>
        </div>
        <!--tukaj še enkrat dodaj ko delaš funkcijo za preverjanje napak-->
    </div>
    <div class="col-auto">
        <button class="btn btn-light" type="submit">Dodaj</button>
    </div>
    <div>
        <a class="btn btn-link" href="/">Prekliči</a>
    </div>
</form>