% rebase("base.html")
<form method="POST" class="row g-3">
    <div class="col-auto">
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-calendar-date"></i>
            </span>
            <input class="form-control" name="zacetek" type="date" placeholder="Začetek"
                value="{{polja.get('zacetek')}}">
        </div>
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-calendar-date-fill"></i>
            </span>
            <input class="form-control" name="konec" type="date" placeholder="Konec" value="{{polja.get('konec')}}">
        </div>
        <div class="input-group" data-bs-toggle="tooltip" data-bs-placement="right"
            title="Izberi med: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo">
            <span class="input-group-text">
                <i class="bi bi-info-circle"></i>
            </span>
            <input class="form-control" name="interval" type="text" placeholder="Interval"
                value="{{polja.get('interval')}}">
        </div>
        % if 'interval' in napake:
        <p class="text text-danger">{{ napake['interval'] }}</p>
        % end
        <!--tukaj še enkrat dodaj ko delaš funkcijo za preverjanje napak-->
    </div>
    <div class="col-auto">
        <button class="btn btn-light" type="submit">Pokaži</button>
    </div>
    <div>
        <a class="btn btn-link" href="/valuta/">Prekliči</a>
    </div>
</form>