% rebase("base.html")
<form method="POST" class="row g-2">
    <div class="col-auto">
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
            </span>
            <input class="form-control" name="uporabnisko_ime" type="text" placeholder="Uporabniško ime" value="{{polja.get('uporabnisko_ime', '')}}">
        </div>
        % if 'uporabnisko_ime' in napake:
        <p class="help is-danger">{{ napake['uporabnisko_ime'] }}</p>
        % end
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-primary" type="submit">Registriraj se</button>
    </div>
</form>