% rebase("base.html")
<nav class="nav gap-3 justify-content-center">
    <div>
        <form method="POST" action="/zamenjaj-trenutno-valuto/">
            <ul class="nav nav-pills">
                % for indeks, valuta in enumerate(moje_valute):
                % if valuta == trenutna_valuta:
                <li class="nav-item">
                    <button class="nav-link active" name="indeks" value="{{indeks}}">
                        {{valuta.kratica}}
                    </button>
                </li>
                % else:
                <li class="nav-item">
                    <button class="nav-link" name="indeks" value="{{indeks}}">
                        {{valuta.kratica}}
                    </button>
                </li>
                % end
                % end
            </ul>
        </form>
    </div>
    <div>
        % if len(moje_valute) > 0:
        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#prodaj_modal">
            <i class="bi bi-dash-circle"></i>
        </button>
        <div class="modal fade" id="prodaj_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="prodaj_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="prodaj_modal_label">Odstrani valuto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Prekliči"></button>
                    </div>
                    <div class="modal-body">
                        Ali res želite odstraniti valuto?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Prekliči</button>
                        <form method="POST" action="/prodaj-trenutno-valuto/">
                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Odstrani</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        % end

    </div>
    <div>
        <a class="btn btn-light" href="/pokazi-graf/" role="button">Graf</a>
    </div>
    <div>
        <a class="btn btn-success" href="/dodaj-valuto/" role="button">Dodaj valuto</a>
    </div>
</nav>

% if trenutna_valuta:
% valuta = trenutna_valuta
<table class="table table-hover table-striped">
    <thead>

        <tr>
            <form method="POST" action="/dodaj/">
                <td></td>
                <td>
                    <div class="input-group">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-arrow-up" style="color: white;"></i>
                        </span>
                        <input class="form-control" type="text" name="kolicina_delna" placeholder="Količina"
                            polja="{{polja.get('kolicina_delna')}}">
                    </div>
                    <!-- poglej, ali je treba dodati podatek "polja"; enako na strani 'zacetna'-->
                </td>
                <td>
                    Trenutna cena: {{valuta.trenutna_cena}}
                    <div class="input-group">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-cash" style="color: white;"></i>
                        </span>
                        <input class="form-control" type="text" name="kupna_cena" placeholder="Cena"
                            polja="{{polja.get('kupna_cena')}}">
                    </div>
                </td>
                <td>
                    Format: yyyy-mm-dd hh:mm(:ss)
                    <div class="input-group">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-clock" style="color: white;"></i>
                        </span>
                        <input class="form-control" type="datetime" name="cas_nakupa" placeholder="Čas nakupa"
                            polja="{{polja.get('cas_nakupa')}}">
                    </div>
                    % if 'cas_nakupa' in napake:
                    <p class="text text-danger">{{ napake['cas_nakupa'] }}</p>
                    % end
                </td>
                <td>
                    * Ni potrebno vpisati
                    <div class="input-group">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-slash-lg" style="color: white;"></i>
                        </span>
                        <input class="form-control" type="text" name="stop" placeholder="Stop*"
                            polja="{{polja.get('stop')}}">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-chevron-double-right" style="color: white;"></i>
                        </span>
                        <input class="form-control" type="text" name="limit" placeholder="Limit*"
                            polja="{{polja.get('limit')}}">
                    </div>

                </td>
                <td>
                    <button class="btn btn-outline-success" type="submit" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Dodaj nakup">Dodaj</button>
                </td>
                % if 'nakup' in napake:
                <p class="text text-danger">{{ napake['nakup'] }}</p>
                % end
            </form>
        </tr>
    </thead>
    <tbody>
        % if len(kupljeno) > 0:
        <tr style="background-color: #0d6efd; color: white;">
            <td>Čas nakupa</td>
            <td>Količina</td>
            <td>Kupna cena</td>
            <td>Stop</td>
            <td>Limit</td>
            <td>Razlika</td>
            <td>Odstrani</td>
        </tr>
        % end
        % for indeks, nakup in enumerate(kupljeno):
        <tr>
            <td>
                % if nakup.cas_nakupa:
                {{ nakup.cas_nakupa }}
                % else:
                Ni podatka
                % end
            </td>
            <td>{{ nakup.kolicina_delna }}</td>
            <td>{{ nakup.kupna_cena }}</td>
            <td>
                % if nakup.stop:
                {{ nakup.stop }}
                % else:
                Ni podatka
                % end
            </td>
            <td>
                % if nakup.limit:
                {{ nakup.limit }}
                % else:
                Ni podatka
                % end
            </td>
            <td>{{ nakup.razlika_delna }}</td>
            <td>
                <form method="POST" action="/prodaj/">
                    <button type="submit" class="btn btn-outline-danger" name="indeks" value="{{indeks}}"
                        data-bs-toggle="tooltip" data-bs-placement="left" title="Odstrani nakup">
                        <i class="bi bi-dash-circle"></i>
                    </button>
                </form>
            </td>
        </tr>
        % end
    </tbody>
</table>