% rebase("base.html")
<!-- Main container -->
<nav class="nav gap-3">
    <div class="justify-content-left">
        <form method="POST" action="/zamenjaj-trenutno-valuto/">
            <ul class="nav nav-pills">
                % for indeks, valuta in enumerate(moje_valute):
                % if valuta == trenutna_valuta:
                <li class="nav-item">
                    <button class="nav-link active" name="indeks" value="{{indeks}}">
                        {{valuta.kratica}}
                    </button>
                </li>
                % else:
                <li class="nav-item">
                    <button class="nav-link" name="indeks" value="{{indeks}}">
                        {{valuta.kratica}}
                    </button>
                </li>
                % end
                % end
            </ul>
        </form>
    </div>
    <div>
        % if len(moje_valute) > 0:
        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#prodaj_modal">
            <i class="bi bi-dash-circle"></i>
        </button>
        <div class="modal fade" id="prodaj_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="prodaj_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="prodaj_modal_label">Prodaj</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Prekliči"></button>
                    </div>
                    <div class="modal-body">
                        Ali res želite odstraniti valuto?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form method="POST" action="/prodaj-valuto/">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Odstrani</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        % end    
        
    </div>
    <div>
        <a class="btn btn-success" href="/dodaj-valuto/" role="button">Dodaj valuto</a>
    </div>
</nav>

% if trenutna_valuta:

<table class="table table-hover table-striped">
    <thead>
        
        <tr>
            <form method="POST" action="/dodaj/">
                <td></td>
                <td>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-arrow-up"></i>
                        </span>
                        <input class="form-control" type="text" name="kolicina_delna" placeholder="Količina">

                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-cash"></i>
                        </span>
                        <input class="form-control" type="text" name="kupna_cena" placeholder="Cena">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-clock"></i>
                        </span>
                        <input class="form-control" type="text" name="cas_nakupa" placeholder="Čas nakupa">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-slash-lg"></i>
                        </span>
                        <input class="form-control" type="text" name="stop" placeholder="Stop*">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-chevron-double-right"></i>
                        </span>
                        <input class="form-control" type="text" name="limit" placeholder="Limit*">
                    </div>
                </td>
                <td>
                    <button class="btn btn-outline-success" type="submit">Dodaj</button>
                </td>
            </form>
        </tr>
        
    </thead>
    <tbody>
        <tr>* Ni potrebno vpisati</tr>
        % for indeks, nakup in enumerate(kupljeno):
        <tr>
            <td>{{ nakup.cas_nakupa }}</td>
            <td>{{ nakup.kolicina_delna }}</td>
            <td>{{ nakup.kupna_cena }}</td>
            <td>{{ nakup.trenutna_cena }}</td>
            <td>{{ nakup.stop }}</td>
            <td>{{ nakup.limit }}</td>
            <td>{{ nakup.razlika }}</td>
            <td></td>
        </tr>
        % end
    </tbody>
</table>