% rebase('base.html')
<!-- Main container -->
<nav class='level'>
    <div class='level-left'>
        <div class='level-item'>
            <a class='button is-info' href='/dodaj-valuto/'>dodaj valuto</a>
        </div>
        </form>
    </div>
</nav>

% if trenutna_valuta:

<table class='table is-hoverable is-fullwidth'>
    <thead>
        <tr>
            <form method='POST' action='/dodaj/'>
                <td></td>
                <!--<td>
                    <div class='control has-icons-left'>
                        <input class='input is-small' type='text' name='kratica' placeholder='kratica'>
                        <span class='icon is-small is-left'>
                            <i class='fas fa-dollar-sign'></i>
                        </span>
                    </div>
                </td>-->
                <!--<td>
                    <div class='control has-icons-left'>
                        <input class='input is-small' type='text' name='datum' placeholder='datum'>
                        <span class='icon is-small is-left'>
                            <i class='fas fa-calendar-alt'></i>
                        </span>
                    </div>
                </td>-->
                <td>
                    <div class='control has-icons-left'>
                        <input class='input is-small' type='text' name='kolicina' placeholder='količina'>
                        <span class='icon is-small is-left'>
                            <i class='fas fa-angle-double-right'></i>
                        </span>
                    </div>
                </td>
                <!--<td>
                    <div class='control has-icons-left'>
                        <input class='input is-small' type='text' name='stop' placeholder='stop'>
                        <span class='icon is-small is-left'>
                            <i class='fas fa-angle-double-right'></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class='control has-icons-left'>
                        <input class='input is-small' type='text' name='limit' placeholder='limit'>
                        <span class='icon is-small is-left'>
                            <i class='fas fa-angle-double-right'></i>
                        </span>
                    </div>
                </td>-->
                <td>
                    <div class='control'>
                        <button class='button is-info is-small'>dodaj</button>
                    </div>
                </td>
            </form>
        </tr>
    </thead>
    <tbody>
        % for indeks, nakup in enumerate(kupljeno):
        <tr>
            <td>
                <form method='POST' action='/prodaj-valuto/'>
                    <input type='hidden' name='indeks' value='{{indeks}}'>
                    <button class='button is-white'>
                        <span class='icon is-small'>
                            % if nakup.kolicina_delna == None:
                            <i class='fas fa-check-square'></i>
                            % else:
                            <i class='fas fa-dollar-sign'></i>
                            % end
                        </span>
                    </button>
                </form>
            </td>
            <td>{{ valuta.kratica }}</td>
            <td>{{ valuta.kolicina }}</td>
            <td></td>
        </tr>
        % end
    </tbody>
</table>

% else:

<p>Nimate še nobene valute. <a href='/dodaj-valuto/'>Dodajte jo!</a></p>