% rebase("base.html")
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <form method="POST" action="/dodaj-valuto/">
                <td>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-currency-dollar"></i>
                        </span>
                        <input class="form-control" type="text" name="kratica" placeholder="Kratica">
                    </div>
                </td>
                <td>
                    <button class="btn btn-outline-success" type="submit">Dodaj</button>
                </td>
            </form>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: azure;">
            <td>Valuta</td>
            <td>Skupna količina</td>
            <td>Trenutna cena</td>
            <td>Skupna razlika</td>
            <td>Odstrani</td>
        </tr>
        % for indeks, valuta in enumerate(moje_valute):
        <tr>
            <td>
                <div class="justify-content-left">
                    <form method="POST" action="/zamenjaj-trenutno-valuto/">
                        <button type="submit" class="btn btn-outline-primary" name="indeks" value="{{indeks}}">
                            {{valuta.kratica}}
                        </button>
                    </form>
                </div>
            </td>
            <td>{{ valuta.skupna_kolicina }}</td>
            <td>{{ valuta.trenutna_cena }}</td>
            <td>{{ valuta.skupna_razlika }}</td>
            <td>
                <div>
                    <form method="POST" action="/prodaj-valuto/">
                        <button class="btn btn-outline-danger" name="indeks" value="{{indeks}}" type="submit">
                            <i class="bi bi-dash-circle"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        % end
    </tbody>
</table>